footer li:before {
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #147efb;
}

.angular {
  color: black;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
}

.fab.fa-angular {
  font-size: 1.2em;
  color: black;
}
