<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-3 is-offset-2">
        <h2><strong>FAQ</strong></h2>
        <ul>
          <li><a href="#">Formas de pagamento</a></li>
          <li><a href="#">Agendamento</a></li>
          <li><a href="#">Outros</a></li>
        </ul>
      </div>
      <div class="column is-3">
        <h2><strong>Sobre nós</strong></h2>
        <ul>
          <li><a href="#">Fundadores</a></li>
          <li><a href="#">Comissão de ética</a></li>
          <li><a href="#">Carreira</a></li>

        </ul>
      </div>
      <div class="column is-4">
        <h2><strong>Certificações</strong></h2>
        <ul>
          <li><a href="#">ISO 9001</a></li>
          <li><a href="#">ISO/IEC 27001</a></li>
          <li><a href="#">ISO/IEC 27002</a></li>

        </ul>
      </div>
    </div>
    <div class="content has-text-centered">
      <p>
        <a class="icon" href="https://github.com/JoaoVitorCapelari/locus">
          <i class="fab fa-github-alt"></i>
        </a>
      </p>
      <div class="control level-item">
        <a href="https://github.com/JoaoVitorCapelari/locus">
          <div class="tags has-addons">
            <span class="tag is-dark">Grupo 3</span>
            <span class="tag is-info">MIT license</span>
          </div>
        </a>
      </div>
      <p class="angular">
        <span>Made with</span>
        <a class="icon" href="https://angular.io/">
          <i class="fab fa-angular"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
