<div class="columns features">
  <div class="column is-4">
    <div class="card is-shady">
      <div class="card-image has-text-centered">
        <i class="fas fa-shuttle-van"></i>
      </div>
      <div class="card-content">
        <div class="content">
          <h4>Veículos de grande porte </h4>
          <p>Encontre seu estacionamento ideal especializado em veículos de grande porte. Chega de vagas apertadas e divisão de espaço. Acomode seu véuclo em um lugar adequado para o tamanho dele.</p>
          <p><a href="#">Saiba mais</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-4">
    <div class="card is-shady">
      <div class="card-image has-text-centered">
        <i class="fas fa-motorcycle"></i>
      </div>
      <div class="card-content">
        <div class="content">
          <h4>Motos e Biciletas</h4>
          <p>Não é só de carro que se locomove o homem. Encontre o lugar ideal para estacionar sua moto ou bicileta. Trabalhamos somente com os melhores estacionemtos, por isso sua bike ou moto vai ter
          um lugar ideal para ficar te eperando.</p>
          <p><a href="#">Saiba mais</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-4">
    <div class="card is-shady">
      <div class="card-image has-text-centered">
        <i class="fas fa-lock"></i>
      </div>
      <div class="card-content">
        <div class="content">
          <h4> Segurança </h4>
          <p>Todos os nossos estacioanmentos possuem monitoramento 24h e são assegurados contra danos e furtos. Cobrimos qualquer eventualidade que venha ocorrer com o seu veículo.</p>
          <p><a href="#">Saiba mais</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
