 <section class="hero is-medium is-bold">
    <div class="hero-head">
      <app-navbar></app-navbar>
    </div>
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Locus
        </h1>
        <h2 class="subtitle">
          O estacionamento ideal para você ao seu alcance
        </h2>
        <a class="button is-info is-large">Reserve agora!</a>
      </div>
    </div>
  </section>

  <div class="box cta">
    <p class="has-text-centered">
      <span class="tag is-primary"><i class="fas fa-parking"></i></span> O jeito mais inteligente de estacionar seu carro com segurança!
    </p>
  </div>

 <section class="container">
  <app-cards></app-cards>
 </section>

<section class="container">
  <div class="depoimentos">
    <div class="dep">
      <div class="depo1"></div>
      <p>"<strong>Jennifer</strong> - Adorei a experiência, vou repetir com certeza!"</p>
    </div>
    <div class="dep">
      <div class="depo2"></div>
      <p>"<strong>Marcos</strong> - Atendimento excelente."</p>
    </div>
    <div class="dep">
      <div class="depo3"></div>
      <p>"<strong>Lucas</strong> - Fácil e rápido de usar, nota 1000!"</p>
    </div>
    <div class="dep">
      <div class="depo4"></div>
      <p>"<strong>Gabriela</strong> - Minha escolha na hora de reservar uma vaga."</p>
    </div>
  </div>
</section>

 <app-footer></app-footer>
